body{

    background: linear-gradient(to right bottom, #252525, #6930C3, #64DFDF);
    height: 100vh;
  }
  
  FIELDSET{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
    text-align:center;
    border-radius: 20px;
    text-align:center;
    width: 400px;
    background: WHITE;
    border-style: none;
  }
  
  .login{
    background-color: #6930C3;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 20px ;
    border-bottom: 1px solid silver;
  }
  
  form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px;
  }
  
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
    background: none;
  }
  
  .pass{
    margin: -5px 0 20px 5px;
    color: #6930C3;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  
  button{
    width: 80%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(to right bottom, #252525, #6930C3, #64DFDF);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700; 
  }
  
  button:hover{
    border-color: #2691d9;
    transition: .5s;
  }
  
  .signup_link{
    margin: 30px 0;
    color: #666666;
    text-align: center;
    font-size: 16px; 
  }
  
  .signup_link a{
    text-decoration: none;
    color: #2691d9;
  }
  
  .signup_link a:hover{
    text-decoration: underline;
  }
  fieldset{
    padding-bottom:30px;
  }